* {
    border: none;
    text-decoration: none;
}

html {
    --grey: #404040;

    /* 1rem = 16px (User Agent) = 100% (User Agent) */
    /* 10px */
    scroll-behavior: smooth;


}

/*1920px = 98vw
SEMPRE USAR VW, usando calc de regra de 3*/
body {
    background-image: url(../images/main_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

button {
    cursor: pointer;
}

.grid {
    min-height: 392vw;
    min-width: 80vw;
    display: grid;
    grid-template-columns: repeat(12, 6.66vw);
    grid-template-rows: repeat(32, 1fr);
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

#dog {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 6.66vw;
    margin-left: 2.5vw;
    animation: float 4s ease-in-out infinite;

    
}

#dog>img {
    min-width: 22.1vw;
    max-width: 22.1vw;

}

/*alinhar elemento no centro da celula
align-items: center;*/

#balao {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    align-items: center;
    margin-top: -3vw;
   
    height: 12.5vw;
    width: 21vw;
}

#balao>img {
    width: 21vw;
}

#balao>p {
    color: black;
    max-width: 18.02vw;
    min-width: 18.02vw;
    margin-top: -9.5vw;
    margin-left: 1.6vw;
    font-size: 1.63vw;
}

#arrow {
    grid-column-start: 6;
    width: 6.02vw;
    height: 3.42vw;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: 5.2vw;
    /*REVISAR ESSE MARGIN*/
}

#botaoscrollprabaixo>img {
    width: 6.02vw;
    height: 3.42vw;
}

#botaoscrollprabaixo {
    background-color: transparent;
    width: 6.02vw;
    height: 3.42vw;
}

#textorow7col2 {
    color: white;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 7;
    width: 49vw;
    height: 9.39vw;
    font-weight: 400;
}

#textorow7col2>p {
    font-size: 1.84vw;
}

#textorow7col2>p>span {
    font-size: 3.57vw
}

#textorow12col6 {
    color: white;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 12;
    
    width: 49.97vw;
}

#textorow12col6>p {
    font-size: 1.84vw;
}

#textorow16col2 {
    color: var(--grey);
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 16;
    grid-row-end: 16;
    
    width: 51.81vw;
}

#textorow16col2>p {
    font-size: 1.84vw;
}

#corujacol4row29 {
    grid-column-start: 7;
    grid-row-start: 30;
    margin-left: -6.3vw;
    margin-top: -2.89vw;
    width: 9.53vw;
    height: 5.72vw;
}



#botaotrilhas>img {
    width: 9.53vw;

}

#botaotrilhas {
    width: 3.98vw;
    height: 5.72vw;
    background-color: transparent;
}

#botaoprojetos {
    width: 3.98vw;
    height: 5.72vw;
    background-color: transparent;
}

#botaoegressos {
    width: 3.98vw;
    height: 5.72vw;
    background-color: transparent;
}

#cachorrocol8row33 {
    grid-column-start: 5;
    grid-row-start: 32;
    width: 5.61vw;
    height: 7.66vw;
    margin-top: -4.4vw;
    margin-left: -2.8vw;
}

#botaoprojetos {
    width: 5.61vw;
    height: 7.66vw;
}

#botaoprojetos img {
    width: 5.61vw;
    height: 11.86vw;
    position: absolute;
    transition: opacity 0.3s ease;
}

#botaoprojetos img.cachorro-normal {
    opacity: 1;
    z-index: 1;
  }

#botaoprojetos img.cachorro-levantando {
      width: 6.06vw;
      height: 11.86vw;
        
    opacity: 0;
    z-index: 2;
  }

#botaoprojetos:hover img.cachorro-normal {
    opacity: 0;
  }

#botaoprojetos:hover img.cachorro-levantando {
    opacity: 1;
  }

#sapocol10row31 {
    grid-column-start: 11;
    grid-row-start: 32;
    margin-left: -5.18vw;
    margin-top: -6.8vw;
    width: 6.28vw;
    height: 10.67vw;
}

#botaoegressos {
    width: 6.28vw;
    height: 10.67vw;
}

#botaoegressos>img {
    width: 6.28vw;
}
