* {
    border: none;
    text-decoration: none;
}

html {
    --grey: #404040;

    /* 1rem = 16px (User Agent) = 100% (User Agent) */
    /* 10px */
    scroll-behavior: smooth;


}

/*1920px = 98vw
SEMPRE USAR VW, usando calc de regra de 3*/
body {
    background-image: url(../images/main_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

button {
    cursor: pointer;
}

.grid {
    min-height: 392vw;
    min-width: 80vw;
    display: grid;
    grid-template-columns: repeat(12, 6.66vw);
    grid-template-rows: repeat(32, 1fr);
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-1vw);
	}
	100% {
		
		transform: translatey(0px);
	}
}

@keyframes float_text {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-.3vw);
	}
	100% {
		
		transform: translatey(0px);
	}
}

@-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform:  translate(-20px, 20px);
      opacity: 0;
    }
  }
@keyframes sdb05 {
    0% {
      transform:  translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 20px);
      opacity: 0;
    }
  }
  
  @keyframes coruja {
    0% { 
        background-image: url('../images/owl_trails.png'); 
        opacity: 1;
    }

    50%{
        
        opacity: 0;
    }
  
  100% {     background-image: url('../images/owl_hover.png');
    
opacity: 1;}
  
  }
#dog {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 6.66vw;
    margin-left: 2.5vw;
    animation: float 4s ease-in-out infinite;

    
}

#dog>img {
    min-width: 22.1vw;
    max-width: 22.1vw;

}

/*alinhar elemento no centro da celula
align-items: center;*/

#balao {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    align-items: center;
    margin-top: -3vw;
   
    height: 12.5vw;
    width: 21vw;
}

#balao>img {
    width: 21vw;
}

#balao>p {
    color: black;
    font-weight: 400;
    max-width: 18.02vw;
    min-width: 18.02vw;
    margin-top: -10.5vw;
    margin-left: 1.6vw;
    font-size: 1.63vw;
}

#arrow {
    grid-column-start: 6;
    width: 6.02vw;
    height: 9.42vw;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 5vw;
     margin-left: 2.2vw; 
    
    
    
    /*REVISAR ESSE MARGIN*/
}

#botaoscrollprabaixo>img {
    width: 6.02vw;
    height: 3.42vw;
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
}

#botaoscrollprabaixo {
    background-color: transparent;
    width: 6.02vw;
    height: 9.42vw;
}

#textorow7col2 {
    color: white;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 7;
    width: 49vw;
    height: 9.39vw;
    font-weight: 400;
}

#textorow7col2>p {
    font-size: 1.84vw;
}

#textorow7col2>p>span {
    font-size: 3.57vw
}

#textorow12col6 {
    color: white;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 12;
    
    width: 49.97vw;
}

#textorow12col6>p {
    font-size: 1.84vw;
}

#textorow16col2 {
    color: var(--grey);
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 16;
    grid-row-end: 16;
    
    width: 51.81vw;
}

#textorow16col2>p {
    font-size: 1.84vw;
}

#botaotrilhas {
    width: 5.16vw;
    height: 6.82vw;
    background-color: transparent;
    background-image: url("../images/owl_trails.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
    

}

#botaotrilhas:hover{
    
    width: 9.53vw;
    height:8.82vw; 
    margin-top: -1.08vw;
    margin-left: -2.2vw;
    animation-name: coruja;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    
}

#corujacol4row29 {
    grid-column-start: 7;
    grid-row-start: 31;
    margin-left: -2.2vw;
    margin-top: -13vw;
    width: 9.53vw;
    height: 15.72vw;
}

.owl_text{
    grid-column-start: 7;
    grid-row-start: 30;
    margin-left: 1.9vw;
    margin-top: -3.1vw;
}

.dog_text{
    grid-column-start: 5;
    grid-row-start: 32;
    margin-left: 4vw;
    margin-top: -2vw;
}

.frog_text{
    grid-column-start: 11;
    grid-row-start: 32;
    margin-top: -3vw;
}


#botaotrilhas img {
    width: 5.16vw;
    height: 6.82vw;
    position: relative;
    transition: opacity 0.3s ease;
}



.ellipsis-text{
    width: 7.03vw;

    animation: float_text 1s ease-in-out infinite;
}

#cachorrocol8row33 > .ellipsis-text{
    margin-left: 7.9vw;
    margin-bottom: 5.7vw;
}

#sapocol10row31 > .ellipsis-text{
    margin-left: 7.2vw;
    margin-bottom: 8.3vw;
}










#botaoegressos {
    width: 3.98vw;
    height: 5.72vw;
    background-color: transparent;
}




#cachorrocol8row33 {
    
    grid-column-start: 5;
    grid-row-start: 32;
    margin-top: 2vw;
    margin-left: .3vw;
    width: 5.61vw;
    height: 7.66vw;
    
    
}

#botaoprojetos {
    width: 4.58vw;
    height: 9.69vw;
    background-color: transparent;
    background-image: url("../images/dog_projects.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
}

#botaoprojetos img {
    width: 5.61vw;
    height: 11.86vw;
    
    transition: opacity 0.3s ease;
}



#sapocol10row31 {
    grid-column-start: 11;
    grid-row-start: 32;
    margin-left: -4.5vw;
    margin-top: -.5vw;
    width: 6.28vw;
    height: 10.67vw;
}

#botaoegressos {
    width: 5.83vw;
    height: 12.08vw;
    background-image: url("../images/frog_graduates.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.25s ease;
}

/*#botaoegressos:hover{
    width: 6.77vw;
    height: 12.08vw;
    background-image: url("../images/frog_hover.png");
}


