body { 
    background: linear-gradient(180deg, #1f2444 28.13%, #2e265f 72.4%, #3e2f4d 94.79%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

p {
    color: black;
}

li, h1 {
    color: white;
}

h1 {
    margin: 0;
    font-size: 4.42vw;
    font-weight: bold;
    margin-top: 2.96vw;
}

#character-content {
    margin-left: 50.43vw;
    display: flex;
}

.balloon {
    position: relative;
    width: 15.2vw;
    height: 10vw;
    background-color: #F2F2F2;
    border-radius: 0.52vw;
    padding: 0.52vw;
    margin-bottom: 1.04vw;
}

.triangle {
    margin-left: -0.5vw;
    margin-top: 7vw;
    width: 0;
    height: 0;
    border-top: 1.04vw solid transparent;
    border-bottom: 1.04vw solid transparent;
    border-left: 2.0vw solid #F2F2F2;
}

.balloon> p {
    padding: 1.2vw;
    font-size: 1.4vw;
}

#img-dog {
    margin-left: 0.1vw;
    margin-top: 2vw;
    width: 10.57vw;
    height: 9.89vw;
}

#img-dog>img {
    width: 100%;
    height: 100%;
}

#menu {
    padding: 0;
    margin-top: 3.6vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 1.3vw;
    border-bottom: 0.2vw solid #ffffff23;
}

.item-menu {
    padding-bottom: 0.5vw;
    text-align: center;
    /* margin-right: 1.66vw; */
    width: 20vw;
    list-style: none;
    font-family: 'Fredoka', sans-serif;
}

.selected {
    margin-top: -0.2vw;
    font-weight: bold;
    transition: border-bottom 0.15s ease;
    border-bottom: 0.2vw solid #FFFFFF;
}

.item-menu:hover {
    margin-top: -0.2vw;
    font-weight: bold;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.content {
    margin-top: 3vw;
    display: grid;
    grid-template-columns: 18.75vw 18.75vw 18.75vw 18.75vw;
    grid-column-gap: 1.66vw;
    grid-row-gap:1.66vw;
    margin-bottom: 3.33vw;
}

.card-project {
    width: 18.75vw;
    height: 25vw;
    background-color: white;
    border-radius: 1.25vw;
}

.card-project:hover {
    border: 0.2vw solid white;
}

#card-img>img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1.25vw;
    border-top-right-radius: 1.25vw;
}

#card-text {
    padding: 1vw;
}

#card-text h4 {
    font-size:1.1vw;
    margin: 0;
    color: black;
}

#card-text p {
    width: 100%;
    height: 100%;
    font-size: 1.1vw;
    color: black;
}