*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

}

html{
    --white: #E9E9E9;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
    min-width: 98vw;
    background-color: var(--white);
}

.return{
    width: 7.04vw;
    height: 16.74vw;
    background-color: transparent;
}

#botaovoltar > img{
    width: 4.08vw;
    margin-left: 2.71vw;
    margin-top: 3.06vw
    
}

.header{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    width: 83.81vw;
    height: 16.74vw;
}

.header > h1{
    width: 24.04vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.34vw;
    font-weight: 600;
    margin-top: 8.78vw;
    
}

#balaoprojetos{
    width: 33.94vw;
    height: 6.79vw;
    margin-left: 36.65vw;
    margin-top: -12.91vw;
}

#balaoprojetos > img{
    width: 33.94vw;
    height: 6.79vw;
}

#balaoprojetos > p{
    font-size: 1.33vw;
    width: 29.14vw;
    height: 3.22vw;
    margin-top: -5.4vw;
    margin-left: 1.84vw;
}



.bloco1{
    width: 7.15vw;
    height: 16.74vw;
}

.bloco2{
    width: 7.04vw;
    height: 100vh;
}

.bloco3{
    width: 7.15vw;
    height: 100vh;
}

.main{
    width: 83.81vw;
    height: 100vh;
}

.main > .nav{
    width: 83.81vw;
    height: 3.68vw;
}

.nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 7.68vw;
}

.nav > div{
    width: 18.38vw;
    height: 2.65vw;
    font-weight: 600;
    font-size: 1.33vw;
    /*border-bottom: black solid;
    border-bottom-style:groove*/
}

#nav_design > #lowerline{
    margin-top: 1.02vw;
    min-width: 18.38vw;
    height: 0.3vw;
    display: block;
    background-color: black;
    border-radius: 300px;
}

#nav_design > p{
    margin-left: 6.64vw;
}

.main > .content{
    width: 83.81vw;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.content > img{
    width: 18.38vw;
    padding-bottom: 3.37vw;
    
}
#botaovoltar{
    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 1vw;
    margin-top: 1vw;
}