*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

}

html{
    --white: #E9E9E9;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--white);
    margin-left:7vw;
    margin-right:7vw;
}

button{
    cursor: pointer;
    background-color: transparent;
}

#return{
    margin-top: 3.125vw;
    margin-left:-4vw;
}

#but-back > img{
    width: 4.08vw;
}

header{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
}

#character-content {
    display: flex;
    width: 33.94vw;
    height: 6.79vw;
}

#character-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vw;
    font-weight: bold;
    margin-top:4vw;
}

#bubble {
    margin-left:18vw;
}

#bubble img{
    width: 34.63vw;
    height: 6.79vw;
}

#bubble > p{
    font-size: 1.33vw;
    width: 29.14vw;
    height: 3.22vw;
    margin-top: -5.2vw;
    margin-left: 1.92vw;
}

#img-dog{
    width: 10.57vw;
    height: 9.89vw;
    margin-left: 1.61vw;
    margin-top: 2vh;
}

#img-dog > img{
    width: 10.57vw;
    height: 9.89vw;
}

nav {
    margin-top: 8.5vw;
    font-size:1.3vw;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.item-menu {
    padding-bottom:0.5vw;
    text-align: center;
    margin-right: 3.43vw;
    width:18.75vw;
}

.item-menu:hover {
    font-weight:bold;
    border-bottom: 4px solid #000000;
}

main {
    margin-top: 3.75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.content {
    display: grid;
    grid-template-columns: 18.75vw 18.75vw 18.75vw 18.75vw;
    grid-column-gap: 3.43vw;
    grid-row-gap: 3.43vw;
    margin-bottom: 3.33vw;
}

.card-project {
    width:18.75vw;
    height:21.35vw;
    background-color: white;
    border-radius: 1.25vw;
}

.card-project:hover {
    border:2px solid #000000;
}

#card-img > img {
    width:18.7vw;
    height:13.21vw;
    border-top-left-radius: 1.25vw;
    border-top-right-radius: 1.25vw;
}

#card-text {
    padding: 0.9vw;
}

#card-text > p {
    margin-top: 0.7vw;
}