<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Egressos</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Rubik:wght@500&family=Staatliches&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/graduates-style.css">
  <script src="../script.js" defer></script>
</head>

<body>
  <header>
    <nav class="global-nav">
      <div class="logo-content"><a href="../index.html"><img src="../source/smd.png" alt="logo do SMD"
            id="smd-logo"></a></div>
      <ul class="global-menu-content">
        <ul class="global-menu">
          <li class="global-menu-item" alt="projetos"><a href="projects.html">PROJETOS</a></li>
          <li class="global-menu-item" alt="egressos"><a href="graduates.html">EGRESSOS</a></li>
          <li class="global-menu-item" alt="trilhas"><a href="trails.html">TRILHAS</a></li>
          </li>
        </ul>
      </ul>
    </nav>
  </header>
  <main>
    <h1>EGRESSOS</h1>
    <div id="character-content">
      <div class="balloon">
        <p>Aqui você pode dar uma olhadinha onde os talentos de SMD estão pelo mundo a fora!</p>
      </div>
      <div class="triangle"></div>
      <div id="img-frog">
        <img src="../images/frog-icon.png">
      </div>
    </div>
    <div class="main-content">
      <div class="map-content"><img src="../images/map.png" alt="mapa"></div>
      <div class="location-content"><img src="../images/location_icon.png" alt="localização"></div>
    </div>
  </main>
</body>