<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/project-item.css">
  <script type="module" src="../scripts/project-item.js" defer></script>
  <script src="../scripts/data.js" defer></script>
  <script src="../script.js" defer></script>
</head>

<body>
  <header>
    <nav class="global-nav">
      <div class="logo-content"><a href="../index.html"><img src="../source/smd.png" alt="logo do SMD"
            id="smd-logo"></a></div>
      <ul class="global-menu-content">
        <ul class="global-menu">
          <li class="global-menu-item" alt="projetos"><a href="projects.html">PROJETOS</a></li>
          <li class="global-menu-item" alt="egressos"><a href="graduates.html">EGRESSOS</a></li>
          <li class="global-menu-item" alt="trilhas"><a href="trails.html">TRILHAS</a></li>
          </li>
        </ul>
      </ul>
    </nav>
  </header>
  <main id="main">
    <div id="player">
      <iframe src="" frameborder="0" id="iframe" allowfullscreen="true"></iframe>
    </div>
    <h1 id="title"></h1>
    <div id="project-details">
      <p id="description"></p>
      <div>
        <h3>Objetivo</h3>
        <p id="objective"></p>
      </div>
      <div>
        <h4>Realizado em:</h4>
        <p id="held-in"></p>
      </div>
      <div>
        <h4>Participantes:</h4>
        <p id="participants"></p>
      </div>
      <div>
        <h4>Acesso em:</h4>
        <a id="acess"></a>
      </div>
    </div>
  </main>
</body>
</html>