<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Projetos</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Staatliches&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/projects.css">
    <script type="module" src="../scripts/projects.js" defer></script>
  <script src="../scripts/data.js" defer></script>
  <script src="../script.js" defer></script>
</head>

<body>
    <header>
        <nav class="global-nav">
            <div class="logo-content"><a href="../index.html"><img src="../source/smd.png" alt="logo do SMD"
                        id="smd-logo"></a></div>
            <ul class="global-menu-content">
                <ul class="global-menu">
                    <li class="global-menu-item" alt="projetos"><a href="projects.html">PROJETOS</a></li>
                    <li class="global-menu-item" alt="egressos"><a href="graduates.html">EGRESSOS</a></li>
                    <li class="global-menu-item" alt="trilhas"><a href="trails.html">TRILHAS</a></li>
                    </li>
                </ul>
            </ul>
        </nav>
    </header>
    <main>
        <h1>PRODUÇÕES DO SMD</h1>
        <div id="character-content">
            <div class="balloon">
                <p>Olha só! Aqui você pode encontrar algumas produções do SMD.</p>
            </div>
            <div class="triangle"></div>

            <div id="img-dog">
                <img src="../source/cachorroprojetos.png">
            </div>
        </div>
        <ul id="menu">
            <li class="item-menu" name="design" id="0">Design</li>
            <li class="item-menu" name="sistemas" id="1">Sistemas</li>
            <li class="item-menu" name="jogos" id="2">Jogos</li>
            <li class="item-menu" name="audiovisual" id="3">Audiovisual
            </li>
        </ul>
        <div class="content">
            <!-- <div class="card-project">
            <div id="card-img">
                <img src="./source/project.png" alt="">
            </div>
            <div id="card-text">
                <h4>Título</h4>
                <p>Este projeto é sobre isso isso isso.</p>
            </div>
        </div> --->
        </div>
    </main>
</body>

</html>