*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

}

html{
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #F6FAFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-light: #E5EAF1;
    --grey-medium: #eaecf2;

    /* 1rem = 16px (User Agent) = 100% (User Agent) */
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;


}

body{
    background-image: url(source/fundo_verticall.png);
    background-size: cover;
    background-repeat: no-repeat;
    


}

.grid{
    min-height: 400vw;
    min-width: 98vw;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(32, 1fr);
}

/*alinhar elemento no centro da celula
align-items: center;*/





.balao {
    background-color: #f2f2f2;
    border-radius: 10px;
}