*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

}
html{
    --grey: #636363;

    /* 1rem = 16px (User Agent) = 100% (User Agent) */
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;


}
/*1920px = 98vw
SEMPRE USAR VW, usando calc de regra de 3*/
body{
    background-image: url("https://i.imgur.com/LY3vR2n.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#corujatrilhas{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 12vw;
    margin-left: 1.17vw; 
}
#corujatrilhas > img{
    min-width: 22.1vw;
    max-width: 22.1vw;
    
}
#balaotrilhas{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    align-items: center;
    margin-top: -3vw;
    margin-left: 3.8vw;
    height: 12.5vw;
}
#balaotrilhas > h1{
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-left: 3.8vw;
}
#balaotrilhas > p{

}
.gridtrilhas{
    min-width: 98vw;

    display: grid;
    grid-template-columns: repeat(12, 8.22vw);
    grid-template-rows:repeat(3, 1fr);
}